In [1]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('loan.csv')
df.head()

C:\Users\91997\AppData\Local\Temp\ipykernel_27232\3318210521.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
data = pd.read_excel('Data_Dictionary.xlsx')
data

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [21]:
df.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [20]:
df = df.dropna(axis=1, how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [25]:
data = data[data.LoanStatNew.isin(df.columns)]
data.reset_index(inplace=True)

In [26]:
data

,index,LoanStatNew,Description
0,0,acc_now_delinq,The number of accounts on which the borrower i...
1,2,addr_state,The state provided by the borrower in the loan...
2,4,annual_inc,The self-reported annual income provided by th...
3,6,application_type,Indicates whether the loan is an individual ap...
4,10,chargeoff_within_12_mths,Number of charge-offs within 12 months
5,11,collection_recovery_fee,post charge off collection fee
6,12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
7,13,delinq_2yrs,The number of 30+ days past-due incidences of ...
8,14,delinq_amnt,The past-due amount owed for the accounts on w...
9,15,desc,Loan description provided by the borrower
10,16,dti,A ratio calculated using the borrowerâ€™s total ...
11,18,earliest_cr_line,The month the borrower's earliest reported cre...
12,19,emp_length,Employment length in years. Possible values ar...
13,20,emp_title,The job title supplied by the Borrower when ap...
14,23,funded_amnt,The total amount committed to that loan at tha...
15,24,funded_amnt_inv,The total amount committed by investors for th...
16,25,grade,LC assigned loan grade
17,26,home_ownership,The home ownership status provided by the borr...
18,27,id,A unique LC assigned ID for the loan listing.
19,29,initial_list_status,The initial listing status of the loan. Possib...
20,32,inq_last_6mths,The number of inquiries in past 6 months (excl...
21,33,installment,The monthly payment owed by the borrower if th...
22,34,int_rate,Interest Rate on the loan
23,35,issue_d,The month which the loan was funded
24,36,last_credit_pull_d,The most recent month LC pulled credit for thi...
25,39,last_pymnt_amnt,Last total payment amount received
26,40,last_pymnt_d,Last month payment was received
27,41,loan_amnt,The listed amount of the loan applied for by t...
28,42,loan_status,Current status of the loan
29,44,member_id,A unique LC assigned Id for the borrower member.
30,50,mths_since_last_delinq,The number of months since the borrower's last...
31,52,mths_since_last_record,The number of months since the last public rec...
32,58,next_pymnt_d,Next scheduled payment date
33,73,open_acc,The number of open credit lines in the borrowe...
34,80,out_prncp,Remaining outstanding principal for total amou...
35,81,out_prncp_inv,Remaining outstanding principal for portion of...
36,84,policy_code,publicly available policy_code=1\nnew products...
37,85,pub_rec,Number of derogatory public records
38,86,pub_rec_bankruptcies,Number of public record bankruptcies
39,87,purpose,A category provided by the borrower for the lo...
40,88,pymnt_plan,Indicates if a payment plan has been put in pl...
41,89,recoveries,post charge off gross recovery
42,90,revol_bal,Total credit revolving balance
43,91,revol_util,"Revolving line utilization rate, or the amount..."
44,92,sub_grade,LC assigned loan subgrade
45,93,tax_liens,Number of tax liens
46,94,term,The number of payments on the loan. Values are...
47,95,title,The loan title provided by the borrower
48,99,total_acc,The total number of credit lines currently in ...
49,105,total_pymnt,Payments received to date for total amount funded
50,106,total_pymnt_inv,Payments received to date for portion of total...
51,107,total_rec_int,Interest received to date
52,108,total_rec_late_fee,Late fees received to date
53,109,total_rec_prncp,Principal received to date
54,111,url,URL for the LC page with listing data.
55,112,verification_status,"Indicates if income was verified by LC, not ve..."
56,114,zip_code,The first 3 numbers of the zip code provided b...