In [1]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
pd.options.display.max_colwidth = 200

### Load and inspect data

In [3]:
loan_data_df = pd.read_csv('../loan.csv', low_memory=False)
column_desc_df = pd.read_excel('../Data_Dictionary.xlsx')
loan_data_df.info()
before_cols = len(loan_data_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

### Finding Columns having all Null or 90% Null data

#### Columns having all Null

In [4]:
all_empty_cols= loan_data_df.columns[loan_data_df.isna().all()].tolist()
print(f"Total number of all empty columns are : {len(all_empty_cols)}\n")
print(all_empty_cols)

Total number of all empty columns are : 54

['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

 #### All Columns having 90% or more Null data

 **Note:** Following list will be the superset of previous list.

In [5]:
atleast_90pct_empty = loan_data_df.columns[~(loan_data_df.isnull().sum(axis=0) <= loan_data_df.shape[0] * 0.9)].tolist()
print(f"Columns with atleast 90% of empty columns are : {len(atleast_90pct_empty)}\n")
print(atleast_90pct_empty)

Columns with atleast 90% of empty columns are : 56

['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

### Data Clean up

#### Delete all / 90% empty columns

In [6]:
# Remove all columns with null values
loan_data_df = loan_data_df.dropna(axis=1, how='all')
# Remove all columns with 90% null values
loan_data_df = loan_data_df.loc[:, (loan_data_df.isnull().sum(axis=0) <= loan_data_df.shape[0] * 0.9)]

#### Remove columns which have constant as a value. 
These will become metadata for the dataset because the dataset has only one value for them.
eg. all values in column: pymnt_plan are `n`.

In [7]:
constant_cols_dict = { c : loan_data_df[c].value_counts().index[0] for c in loan_data_df.columns if loan_data_df[c].value_counts().count() == 1} 

print(f"Columns having constant values: {constant_cols_dict}\n")

print(f"Columns to be removed : {constant_cols_dict.keys()}\n")

loan_data_df.drop(columns=constant_cols_dict.keys(), inplace=True)

Columns having constant values: {'pymnt_plan': 'n', 'initial_list_status': 'f', 'collections_12_mths_ex_med': 0.0, 'policy_code': 1, 'application_type': 'INDIVIDUAL', 'acc_now_delinq': 0, 'chargeoff_within_12_mths': 0.0, 'delinq_amnt': 0, 'tax_liens': 0.0}

Columns to be removed : dict_keys(['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens'])

#### Dataset after removed columns

In [8]:
print(f"The no. columns are reduced from {before_cols} to {len(loan_data_df.columns)}")

The no. columns are reduced from 111 to 46

In [9]:
loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  url                      39717 non-null  object
 18  desc                     26777 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  mths_since_last_delinq   14035 non-null  float64
 28  open_acc                 39717 non-null  int64
 29  pub_rec                  39717 non-null  int64
 30  revol_bal                39717 non-null  int64
 31  revol_util               39667 non-null  object
 32  total_acc                39717 non-null  int64
 33  out_prncp                39717 non-null  float64
 34  out_prncp_inv            39717 non-null  float64
 35  total_pymnt              39717 non-null  float64
 36  total_pymnt_inv          39717 non-null  float64
 37  total_rec_prncp          39717 non-null  float64
 38  total_rec_int            39717 non-null  float64
 39  total_rec_late_fee       39717 non-null  float64
 40  recoveries               39717 non-null  float64
 41  collection_recovery_fee  39717 non-null  float64
 42  last_pymnt_d             39646 non-null  object
 43  last_pymnt_amnt          39717 non-null  float64
 44  last_credit_pull_d       39715 non-null  object
 45  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(16), int64(10), object(20)
memory usage: 13.9+ MB

In [10]:
loan_data_df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

#### Convert the columns to correct datatypes

In [11]:
def convert_emp_length(l):
    if pd.isna(l):
        return np.nan
    elif l == '< 1 year':
        return 0
    elif l == '10+ years':
        return 10
    else:
        return int(str(l)[0])

In [12]:
loan_data_df.term       = loan_data_df.term.apply(lambda x: int(str(x)[:3]))
loan_data_df.int_rate   = loan_data_df.int_rate.apply(lambda x: float(str(x)[:-1])/100)
loan_data_df.emp_length = loan_data_df.emp_length.apply(convert_emp_length) 
loan_data_df.issue_d    = pd.to_datetime(loan_data_df.issue_d, format='%b-%y')

In [14]:
loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  int64
 6   int_rate                 39717 non-null  float64
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  float64
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  datetime64[ns]
 16  loan_status              39717 non-null  object
 17  url                      39717 non-null  object
 18  desc                     26777 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  mths_since_last_delinq   14035 non-null  float64
 28  open_acc                 39717 non-null  int64
 29  pub_rec                  39717 non-null  int64
 30  revol_bal                39717 non-null  int64
 31  revol_util               39667 non-null  object
 32  total_acc                39717 non-null  int64
 33  out_prncp                39717 non-null  float64
 34  out_prncp_inv            39717 non-null  float64
 35  total_pymnt              39717 non-null  float64
 36  total_pymnt_inv          39717 non-null  float64
 37  total_rec_prncp          39717 non-null  float64
 38  total_rec_int            39717 non-null  float64
 39  total_rec_late_fee       39717 non-null  float64
 40  recoveries               39717 non-null  float64
 41  collection_recovery_fee  39717 non-null  float64
 42  last_pymnt_d             39646 non-null  object
 43  last_pymnt_amnt          39717 non-null  float64
 44  last_credit_pull_d       39715 non-null  object
 45  pub_rec_bankruptcies     39020 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(11), object(16)
memory usage: 13.9+ MB

### Filtered Data definition as per the data columns

In [13]:
column_desc_df = column_desc_df[column_desc_df.LoanStatNew.isin(loan_data_df.columns)]
column_desc_df.reset_index(inplace=True)
column_desc_df.loc[:, ['LoanStatNew', 'Description']]

,LoanStatNew,Description
0,addr_state,The state provided by the borrower in the loan application
1,annual_inc,The self-reported annual income provided by the borrower during registration.
2,collection_recovery_fee,post charge off collection fee
3,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
4,desc,Loan description provided by the borrower
5,dti,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly inc..."
6,earliest_cr_line,The month the borrower's earliest reported credit line was opened
7,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
8,emp_title,The job title supplied by the Borrower when applying for the loan.*
9,funded_amnt,The total amount committed to that loan at that point in time.
10,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
11,grade,LC assigned loan grade
12,home_ownership,"The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER."
13,id,A unique LC assigned ID for the loan listing.
14,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
15,installment,The monthly payment owed by the borrower if the loan originates.
16,int_rate,Interest Rate on the loan
17,issue_d,The month which the loan was funded
18,last_credit_pull_d,The most recent month LC pulled credit for this loan
19,last_pymnt_amnt,Last total payment amount received
20,last_pymnt_d,Last month payment was received
21,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
22,loan_status,Current status of the loan
23,member_id,A unique LC assigned Id for the borrower member.
24,mths_since_last_delinq,The number of months since the borrower's last delinquency.
25,open_acc,The number of open credit lines in the borrower's credit file.
26,out_prncp,Remaining outstanding principal for total amount funded
27,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
28,pub_rec,Number of derogatory public records
29,pub_rec_bankruptcies,Number of public record bankruptcies
30,purpose,A category provided by the borrower for the loan request.
31,recoveries,post charge off gross recovery
32,revol_bal,Total credit revolving balance
33,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
34,sub_grade,LC assigned loan subgrade
35,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
36,title,The loan title provided by the borrower
37,total_acc,The total number of credit lines currently in the borrower's credit file
38,total_pymnt,Payments received to date for total amount funded
39,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
40,total_rec_int,Interest received to date
41,total_rec_late_fee,Late fees received to date
42,total_rec_prncp,Principal received to date
43,url,URL for the LC page with listing data.
44,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
45,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.